<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edgecut.mapper.CutDataMapper">

    <sql id="allFields">
        id, `key`, prefix, status, x, y, w, h,
        gmt_create as gmtCreate, gmt_modified as gmtModified, delete_mark as deleteMark
    </sql>

    <select id="query" resultType="CutDataDO">
        select
        <include refid="allFields"/>
        from cut_data
        where delete_mark = 0
        <if test="prefix != null">
            and prefix = #{prefix}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="offset != null">
            limit #{offset}, #{pageSize}
        </if>
    </select>

    <select id="count" resultType="java.lang.Integer">
        select
            count(1)
        from cut_data
        where delete_mark = 0
        <if test="prefix != null">
            and prefix = #{prefix}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
    </select>

    <insert id="save">
        insert into cut_data(`key`, prefix, status, x, y, w, h,gmt_create, gmt_modified, delete_mark)
        VALUES
        (#{key}, #{prefix}, #{status}, #{x}, #{y}, #{w}, #{h}, now(), now(), #{deleteMark})
        ON DUPLICATE KEY UPDATE
        status = #{status},
        x = #{x},
        y = #{y},
        w = #{w},
        h = #{h},
        gmt_modified=now(),
        delete_mark = #{deleteMark}
    </insert>

    <insert id="insertOrCancel">
        insert into cut_data(`key`, prefix, status, x, y, w, h,gmt_create, gmt_modified, delete_mark)
        VALUES
        (#{key}, #{prefix}, #{status}, #{x}, #{y}, #{w}, #{h}, now(), now(), #{deleteMark})
        ON DUPLICATE KEY UPDATE
        gmt_modified=now()
    </insert>

</mapper>